@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Raleway|Open+Sans|Varela+Round');

/* header */

.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
  font-family: "Varela Round";
  font-size: 16px;
}
.navbar-default .navbar-brand {
  color: #2ab27b;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #14563b;
}
.navbar-default .navbar-text {
  color: #2ab27b;
}
.navbar-default .navbar-nav > li > a {
  color: #2ab27b;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #14563b;
  text-decoration: underline;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #2ab27b;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #14563b;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #14563b;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #14563b;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #14563b;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #2ab27b;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #2ab27b;
}
.navbar-default .navbar-link {
  color: #2ab27b;
}
.navbar-default .navbar-link:hover {
  color: #14563b;
}

.btn-drop {
    color: #fff;
    background: #2ab27b;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 0px 3px 0px 0px #228e62;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.btn-drop:hover,
.btn:focus {
    background: rgba(42, 178, 123, 0.7);
    color: #fff;
}
.btn-drop:active {
    background: #14563b;
    box-shadow: 0px 3px 0px 0px #228e62;
}

