html {
  position: relative;
  min-height: 100%;
}

.footer-bottom {
  background: #f8f8f8;
  border-top: 1px solid #2AB27B;
  padding-top: 7px;
  padding-bottom: 7px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

#footer-logo {
  width: 150px;
  height: auto;
}

.fa-ul .fa-2x {
  margin-left: 15px;
  color: #2AB27B;
  font-size: 1.5em;
}

#contact-us {
  color: #2AB27B;
  font-size: 1.2em;
}

@media only screen and (max-width: 560px) {
  #footer-logo {
    width: 120px;
  }

  .fa-ul .fa-2x {
    margin-left: 5px;
  }

  #contact-us {
    font-size: 1em;
  }
}