html {
  position: relative;
  min-height: 100%;
}

.footer-bottom {
  background: #f8f8f8;
  border-top: 1px solid #DDDDDD;
  padding-top: 7px;
  padding-bottom: 7px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

#footer-logo {
  width: 150px;
  height: auto;
}