<%#
   Static about page
%>
<% provide(:title, 'About') %>
<div class="banner" style="padding-top:40px;">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1>About Modulect</h1>
         </div>
      </div>
   </div>
</div>
<div id="page">
   <div class="container">
      <div id="page" style="padding-top:30px;">
         <div class="container">
            <div class="row">
               <div class="col-md-8 login-card col-md-offset-2">
                  <h2>What is Modulect?</h2>
                  <p>Modulect for KCL is an application designed to help students find which modules and what pathway they should take based upon their career objectives.</p>
               </div>
            </div>
            <div class="row" style="margin-top:20px;">
               <div class="col-md-8 login-card col-md-offset-2">
                  <h2>Is my data safe?</h2>
                  <p>Yes. We do not ask for any sensitive information and any data processed by us is done so using an industry-standard 256-bit SSL certificate.</p>
               </div>
            </div>
           
         </div>
      </div>
   </div>
</div>