<% provide(:title, 'Contact') %>
<div class="banner" style="margin-top: -30px;padding-top:40px;">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1>Contact</h1>
         </div>
      </div>
   </div>
</div>
<div id="page">
   <div class="container">
      <div id="page" style="padding-top:30px;">
         <div class="container">
            <div class="row">
               <div class="col-md-8 login-card col-md-offset-2">
                  <h2>Contact KCL Modulect Support</h2>
                  <p>For information about your courses, modules and other departmental information you should contact your department.</p>
                  <p>For technical support or comments, contact the <a href="http://www.kcl.ac.uk/study/learningteaching/ctel/index.aspx" target="_blank">Centre for Technology Enhanced Learning</a>.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>