<% provide(:title, 'Your details') %>
<!--Aqib -->
Begin<br />
<h1>Your details</h1>
Let's say I'm a 2nd year, computer science student


<form action="<%= pathway_search_choose_path %>" method="get">
Year of study <input type="text" value="2" name="year"><br />
Course <input type="text" value="BSc Computer Science" name="course"><br />
<button type="submit">next</button>
</form>
