<% provide(:title, 'My Details - Pathway Search') %>
<div class="banner" style="margin-top: -30px;padding-top:40px;">
    <div class="container">
        <h1>Pathway Search</h1>
    </div>
</div>
<div id="white-strip-pathway">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 step current">
                    <div class="numberCircle current-circle">1</div> My Details
                
                </div>
                <div class="col-md-4 step">
                    <div class="numberCircle">2</div> Choose Interests and Careers
                
                </div>
                <div class="col-md-4 step">
                    <div class="numberCircle">3</div> Results and selection
                
                </div>
            </div>
        </div>
    </div>
</div>
<div id="page">
    <div class="container">
        <div class="col-md-10 login-card col-md-offset-1">
            <div class="col-md-12">
                <div class="row">
                    <h1>Let's get started</h1><% if logged_in? %>
                    <h4>Check that your details below are correct. If so, click "Next".</h4><% else %>
                    <h4>Please enter the details below. Once done, click "Next".</h4><% end %>
                </div>
                <form action="<%= pathway_search_choose_path %>" method="get">
                    <div class="row" >
(Feras' form will go here)
                        <br />
Year of study 
                        <input type="text" value="2" name="year">
                            <br />
Course 
                            <input type="text" value="BSc Computer Science" name="course">
                                <br />
                            </div>
                            <div class="row" >
                                <div class="col-md-12" style="margin-top: 30px;padding-left:0px">
                                    <div class="form-group">
                                        <button class="btn btn-lg"  type="submit">Next ></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>