<div class="banner">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<% if logged_in? %>
				<h1>Hi <%= current_user.first_name %>. Let's find your perfect module...</h1>
				<% else %>
				<h1>Hi. Let's find your perfect module...</h1>
				<% end %>
			</div>
		</div>
		<div class="row" style="margin-top: 15px">
			<div id="quick-search">
				<div class="col-md-8">
					<%= form_tag("/search/view_results", method: "get") do %>
					    <%= text_field_tag(:chosen_tags, nil, :id => "search", :placeholder => 'Search anything (like modules, careers, interests, etc.)', data: {:role => "tagsinput"}) %>
							<script>
								var modules = <%= raw create_tag_json(@tag_names, @module_names, @module_code) %>
								var modules = new Bloodhound({
									datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
									queryTokenizer: Bloodhound.tokenizers.whitespace,
									local: modules
								});
								modules.initialize();

								$('#search.input').tagsinput({
									typeaheadjs: {
										name: 'modules',
										displayKey: 'name',
										valueKey: 'name',
										source: modules.ttAdapter()
									},
									freeInput: false
								});

								$('#search.input').focus();
							</script>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<button id='quickButton' class="btnQuick btn btn-lg btn-block" type="submit">Quick Search&nbsp;&nbsp;<i class="fa fa-search" aria-hidden="true"></i>
						</button>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div id="page" style="padding-top: 30px">
	<div class="container login-card">
		<div class="col-md-12">
			<div class="row">
				<h1>Start a Pathway Search</h1>
				<h3 style="margin-top: 20px">Let us assist you in finding the right modules which suit your interests and career aspirations.</h3>
			</div>
		</div>
		<% if logged_in? %>
		<div class="row" style="margin-top: 40px">
			<div class="col-md-4">
				<div class="form-group">
					<button id='pathwayButton' class="btn btn-lg btn-block" type="submit">Pathway Search&nbsp;&nbsp;<i class="fa fa-search" aria-hidden="true"></i>
					</button>
				</div>
			</div>
		</div>
		<% else %>
		<div class="row" style="margin-top: 20px">
			<div class="col-md-12">
				<h4>In order to fully make use of the Modulect system please Register or Login</h4>
			</div>
		</div>
		<div class="row" style="margin-top: 40px">
			<div class="col-md-4">
				<div class="form-group">
					<form action="/login">
						<button id='loginRegButton' class="btn btn-lg btn-block" type="submit">Login or Register
						</button>
					</form>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>

