<% provide(:title, 'Search Results') %>
<style>
         @media print {
         .navbar,.banner, footer, .sort-area, .save-button, .more-info-link, .here-what{display:none;}
         .collapse{display:block;}
         }
      </style>
      <div class="banner" style="margin-top: -20px;padding-top:30px;">
         <div class="container">
            <h1>Results</h1>
            <h1>Search bar goes here</h1>
         </div>
      </div>





 <div id="page" style="padding-top:30px;">
         <div class="container">



<% if @results.length == 0 %>
<div class="row" style="margin-bottom:20px;">
               <div class="col-md-10 col-md-offset-1 text-center">
                  <h1>No modules found :(</h1>
               </div>
            </div>
<% else %>

We got results!

<% end %>







<h1>Search#view_results</h1>
<p>Find me in app/views/search/view_results.html.erb</p>
<p>array: </p>
<%= @temp_array%>
</br>
<p>results: </p>
<%= @results%>





