<h1 style="font-size: 1.728em">Upload Data</h1>

<div class="col-lg-12 login-card">
As an admin, you can upload multiple entries for a single resource via a CSV file.
  <br>
  For example, you may want to add 10 new users to the system and doing so individually could become quite tedious.
  <br>
  To start uploading simply click the button below:
  <br>
  <a class="btn btn-lg">Start ></a>
</div>