<style>
  @media (min-width: 990px) {
    .row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    .row > [class*='col-'] {
      display: flex;
      flex-direction: column;
    }

    .login-card {
      height: 100%;
      text-align: center;
    }
  }
</style>

<h1 style="font-size: 1.728em; margin-bottom: 30px;">Upload Data</h1>

<div id="upload-instructions" class="col-lg-12 login-card">
  <h3 style="margin-bottom: 20px;">Begin</h3>
  <h4>As an admin, you can upload multiple entries for a single resource via a CSV file.</h4>
  <h4>For example, you may want to add 10 new users to the system and doing so individually could become quite
    tedious.</h4>
  <h4>To begin uploading simply click the button below:</h4>
  <div class="form-entry text-center" style="margin-top: 20px;">
    <a id="upload-start" class="btn btn-lg">Start ></a>
  </div>
</div>

<div class="row" style="margin: 0;">
  <div id="upload-step-1" class="col-lg-12 login-card" style="margin-bottom: 20px; display: none;">
    <h3>Step 1: Select the resource to upload</h3>
    <form>
      <div class="form-entry text-center" style="margin-top: 20px;">
        <select id="upload-resource" class="form-control" style="font-size: 14px; padding: 6px 12px">
          <% Administrate::Namespace.new(namespace).resources.each do |resource| %>
              <% if [:uni_modules, :courses, :departments, :users, :year_structures, :faculties].include? resource %>
                  <option value=<%= resource %>><%= display_resource_name(resource) %></option>
              <% end %>
          <% end %>
        </select>
      </div>
      <div class="form-entry text-center" style="margin-top: 20px;">
        <a id="upload-1-next" class="btn btn-md">Next</a>
      </div>
    </form>
  </div>

  <div id="upload-step-2" class="col-lg-12 login-card" style="margin-bottom: 20px; display: none;">
    <h3>Step 2: Download CSV template</h3>
    <div class="form-entry text-center" style="margin-top: 20px;">
      <%= button_to 'Download', admin_download_path, class: 'btn btn-md', id: 'upload-2-next' %>
    </div>
  </div>

  <div id="upload-step-3" class="col-lg-12 login-card" style="margin-bottom: 20px; display: none;">
    <h3>Step 3: Upload data</h3>
    <div class="form-entry text-center" style="margin-top: 20px;">
      <a id="upload-3-next" class="btn btn-md">Upload</a>
    </div>
  </div>
</div>

<script>
    $(function () {
        $("#upload-start").on("click", function () {
            $("#upload-step-1").show();
            $("#upload-instructions").hide();
        });

        $("#upload-1-next").on("click", function () {
            $("#upload-step-2").show();
        });

        $("#upload-2-next").on("click", function () {
            $("#upload-step-3").show();

            var resource = $("select#upload-resource").val();
            $.ajax({
                type: "POST",
                url: "<%= admin_download_path %>",
                data: { resource_choice: resource},
                context: document.body,
//                success: function(){
//                  alert("success ");
//                }
            })
        });
    });
</script>