<h1 style="font-size: 1.728em">Upload Data</h1>

<div id="upload-instructions" class="col-lg-12 login-card">
  <h3 style="margin-bottom: 20px;">Begin</h3>
  <h4>As an admin, you can upload multiple entries for a single resource via a CSV file.</h4>
  <h4>For example, you may want to add 10 new users to the system and doing so individually could become quite tedious.</h4>
  <h4>To begin uploading simply click the button below:</h4>
  <div class="form-entry text-center" style="margin-top: 20px;">
    <a class="btn btn-lg">Start ></a>
  </div>
</div>

<div id="upload-step-1" class="col-lg-4 col-sm-12 login-card">

</div>