<%#
# Flash Partial

This partial renders flash messages on every page.

## Relevant Helpers:

- `flash`:
  Returns a hash,
  where the keys are the type of flash (alert, error, notice, etc)
  and the values are the message to be displayed.
%>

<% if flash.any? %>
<div id="flash-container">
   <div class="row">
      <div class="col-md-12">
    <% flash.each do |key, value| -%>
      <div class="flash-alert flash-alert-<%= key %>">
            <i class="fa fa-info" aria-hidden="true"></i> <%= value %></div>
    <% end -%>
  </div>
  </div>
  </div>
<% end %>

