<% provide :title, "New Pathway for #{Course.find(params[:id]).name}" %>
<% provide :submit_button_text, 'Update' %>

<header class="header">
  <h1 class="header__heading"><%= content_for(:title) %></h1>
  <div class="header__actions">
  </div>
</header>
