<% provide(:title, 'Module Reviews') %>
<header class="header">
  <h1 class="page-title">Module Reviews</h1>
</header>
<p>Module Reviews can be managed by going to the individual module page. <a href="<%= admin_uni_modules_path%>">Go now ></a></p>