<%#
# New

This view is the template for the "new resource" page.
It displays a header, and then renders the `_form` partial
to do the heavy lifting.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to help display a form,
  and knows which attributes should be displayed in the resource's form.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>

<% content_for(:title) { "New #{page.resource_name.titleize}" } %>

<header class="header">
  <h1 class="header__heading"><%= content_for(:title) %></h1>
  <div class="header__actions">
    <!--checks if validation failed-->
    <% if (page.resource && page.resource.errors.size > 0 &&
        session[:data_save].present?) %>
        <!--redirects back to faculty form if intially came from there-->
        <%= determine_redirect_link_from_previous_state %>
    <%else%>
        <!--or just go back to last page like normal-->
        <%= link_to 'Back', :back, class: "button" %>
    <%end%>

  </div>
</header>

<%= render 'form', page: page %>
