<% content_for(:title) { "Edit #{Faculty.find(params[:id]).name} " } %>


<header class="header">
  <h1 class="header__heading"><i class="fa fa-university" aria-hidden="true"></i>&nbsp;&nbsp;<%= content_for(:title) %></h1>
  <div class="header__actions">
    <%= render(:partial => 'admin/application/edit_toolbox_buttons',
               :locals => {:object => Faculty.find(params[:id]),
                           :name_of_file=>Faculty.find(params[:id]).name.tr(' ','').underscore,
                           :blacklist_attributes=>"",:entity_attributes=>"",
                           :has_many_attributes=>["departments"]})%>

  </div>
</header>
<%= form_for(@faculty, :url => { :action => "update",:method => "put" }, html: {class: "form" })do |f| %>
  <%= render "form", f: f,parent: "edit"%>
<% end %>

