<tr>
  <td>
    <h2 class="ui center aligned header">
      <%= full_name_for(user) %>
    </h2>
  </td>
  <td>
    <%= user.email %>
  </td>
  <td>
    <%= user.year_of_study %>
  </td>
  <td>
    <%= privileges_description_for(user) %>
  </td>
</tr>
