
<div class="ui very padded fluid vertical segment">
  <table class="ui celled padded table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Year of study</th>
        <th>User level</th>
      </tr>
    </thead>

    <tbody>
      <%= render @users %>
    </tbody>
  </table>

  <%= form_for(:users, url: { :action => :new },
                       html: { :method => 'GET' } ) do |f| %>
      <%= submit_tag "Add User",
                     class: "ui blue right float medium large button" %>
  <% end%>

</div>
