<div class="ui container">
  <%= form_for(@department) do |f|%>

      <div class="ui vertical segment">
        <div class=" field">
          <label>Name</label>
          <div class="ui left input" id="name">
            <%= f.text_field(:name,:placeholder => "Modify department name") %>
          </div>
        </div>

      </div>





      <%= f.submit("Finalize change",:url=>{:action => :update},:html => { :method => 'POST' },:class=>"ui button" )  %>
      </div>


  <%end%>

  </div>