r<div class="ui container">
  <%= form_for(@department,:url=>{:action => :create},:html => { :method => 'POST' }) do |f|%>

      <div class="ui vertical segment">
        <div class=" field">
          <label>Name</label>
          <div class="ui left input" id="name">
            <%= f.text_field(:name,:placeholder => "Enter name") %>
          </div>
        </div>

      </div>
      <%= f.submit("Finalize change")  %>


  <%end%>

  </div>