<style>
.search{border-bottom:0px;margin-top:-10px;}
.search__input{font-family:"Varela Round";font-size:17px;}
.search__clear a {color:#555459;}
</style>

<form class="search">
    <i class="fa fa-search" aria-hidden="true"></i>
    <input type="text" name="search" class="search__input" placeholder="Search" value="<%= search_term %>" aria-label="Search" />
    <span class="search__clear">
    <%= link_to clear_search_params do %>
      <i class="fa fa-times" aria-hidden="true"></i>
    <% end %>
  </span>
</form>