@charset "utf-8";

@import "normalize-rails";
@import "bourbon";

@import "neat";

@import "selectize";
@import "datetime_picker";

@import "library/**/*";
@import "base/**/*";
@import "components/**/*";
@import "simple-sidebar";

@import "admin-style";

@import "bootstrap-sprockets";
@import "bootstrap";

@import "data-tables";

@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css');
@import url('../user-side/awesome-bootstrap-checkbox.css');

@import url('https://fonts.googleapis.com/css?family=Lato|Varela+Round');

body {
	font-family: "Varela Round";
    color: #555459;
    background: #fbfbfb;
}

::selection {
    background: rgba(61, 201, 179, 0.6);
    /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: rgba(61, 201, 179, 0.6);
    /* Gecko Browsers */
}

#wrapper {
	padding-top:70px;
}