<form class="search">
    <i class="fa fa-search" aria-hidden="true"></i>
    <input type="text" name="search" class="search__input" placeholder="Type anywhere to search" value="" aria-label="Search" />
    <span class="search__clear">
  </span>
</form>