<% provide(:title, 'Whoops') %>
<style>
   .navbar, #after-content, footer{display:none;}
   body{background:#f9f9f9;padding-top:20px;}
   .modulect-container{padding-top:0px;}
</style>
<div class="container" style="margin-top:30px">
   <div class="row">
      <div class="col-md-12 text-center">
         <div class="text-site"><%= image_tag( "modulect-logo.png", :alt=> "rss feed", :style => "height: 60px")%></div>
      </div>
      <div class="col-md-6 col-md-offset-3" style="margin-top:30px;">
         <div class="col-md-12 login-card text-center">
            <h2>Something went wrong :(</h2>
            <p>(Error code: 404)</p>            
         </div>
      </div>
   </div>
</div>