@import url('https://fonts.googleapis.com/css?family=Raleway|Open+Sans|Varela+Round');

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

#feras_header {


  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
  }
  footer {
    height: 60px;
    border-top: 1px solid #dfe2e1;
  }

  textarea:focus,
  input:focus,
  select:focus,
  .uneditable-input:focus {
    border-color: rgba(42, 178, 123, 0.8) !important;
    box-shadow: 0 0.4px 0.4px rgba(42, 178, 123, 0.075) inset, 0 0 6px rgba(42, 178, 123, 0.6) !important;
    outline: 0 none !important;
  }
  .btn-default {
    border: 0px;
  }
  .btn {
    color: #fff;
    background: #2ab27b;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    text-transform: uppercase;
    box-shadow: 0px 3px 0px 0px #228e62;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .btn:hover,
  .btn:focus {
    background: rgba(42, 178, 123, 0.7);
    color: #fff;
  }
  .btn:active {
    background: #14563b;
    box-shadow: 0px 3px 0px 0px #228e62;
  }
  .form-group {
    margin-bottom: 20px;
  }


  .navbar {
    -webkit-user-select: none;
    position: fixed;
    width: 100%;
    z-index: 1000000000;
    padding: 12px 0px;
  }
  .navbar-brand {
    padding: 5px;
  }
  .navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
    font-family: "Varela Round";
    font-size: 16px;
    /*  box-shadow: 0px 10px 0px 0px #D3D3D3;*/

    border-bottom: 1px solid #D3D3D3;
    border-radius: 0px;
  }
  .navbar-default .navbar-brand {
    color: #2ab27b;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #14563b;
  }
  .navbar-default .navbar-text {
    color: #2ab27b;
  }
  .navbar-default .navbar-nav > li > a {
    color: #2ab27b;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #14563b;
    text-decoration: none;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #ffffff;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #2ab27b;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #14563b;
    background-color: #ffffff;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #14563b;
    background-color: #ffffff;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #14563b;
    background-color: #ffffff;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #14563b;
    background-color: #ffffff;
  }
  .navbar-default .navbar-toggle {
    border-color: #ffffff;
    margin-right: 0px;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #2ab27b;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #2ab27b;
  }
  .navbar-default .navbar-link {
    color: #2ab27b;
  }
  .navbar-default .navbar-link:hover {
    color: #14563b;
  }
  #modulect-nav .btn-drop {
    color: #fff;
    background: #2ab27b;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 0px 3px 0px 0px #228e62;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    text-transform: none;
  }
  #modulect-nav .btn-drop:hover,
  .btn-drop:focus {
    background: rgba(42, 178, 123, 0.7);
    color: #fff;
  }
  #modulect-nav .btn-drop:active {
    background: #14563b;
    box-shadow: 0px 3px 0px 0px #228e62;
  }
  @media (max-width: 768px) {
    .navbar {
      position: absolute;
      /*padding: 12px 5px;*/
    }
    [class*="col-"] {
      margin-bottom: 15px;
    }
    .navbar-collapse {
      margin-top: 15px;
      background: #fff;
      border-bottom: 1px solid #2ab27b;
    }
    #modulect-nav .btn-drop {
      border: none;
      outline: none;
      color: #2ab27b;
      background: transparent;
      text-shadow: none;
      box-shadow: none;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none;
      font-size: 16px;
      margin-left: 3px;
    }
    #modulect-nav .btn-drop:hover,
    #modulect-nav .btn-drop:focus {
      color: #14563b;
      box-shadow: none;
      border: none;
      text-decoration: underline;
      background: transparent;
    }
    #modulect-nav .btn-drop:active {
      background: transparent;
      border: 0px;
    }
  }


  #rec-husky-footer {
    color: #2AB27B;
    font-family: "Varela Round";
    /*font-size: 20px;*/
    float: right;
    margin-top: 5px
  }
  #footer-logo {
    width: 150px;
    height: auto;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

  .footer-bottom {
    background: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    border-top: 1px solid #D3D3D3
  }

  .dropdown-toggle,
  .dropdown-toggle:hover,
  .dropdown-toggle:focus,
  .dropdown-toggle:active {
    background: #dfe2e1;
    color: #333;
    box-shadow: 0px 3px 0px 0px #999;
    outline: none;
  }
  .result-card-side {
    border-left: 1px dotted #dfe2e1;
  }
  .btn-small {
    width: 150px;
    font-size: 13px;
  }

  .btnQuick {
    color: #2ab27b;
    background: #FFFFFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    text-transform: uppercase;
    box-shadow: 0px 3px 0px 0px #DDDDDD;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .btnQuick:hover,
  .btnQuick:focus {
    background: #EEEEEE;
    color: #2ab27b;
  }
  .btnQuick:active {
    background: #808080;
    box-shadow: 0px 3px 0px 0px #a8a8a8;
  }

  @media only screen and (max-width: 560px) {
    #footer-logo {
      width: 120px;
    }
    .footer-bottom {
      font-size: 14px;
    }
  }
  /* Navbar mobile view */

  @media (max-width: 768px) {
    .navbar {
      position: absolute;
      /*padding: 12px 5px;*/
    }
    [class*="col-"] {
      margin-bottom: 15px;
    }
    .navbar-collapse {
      margin-top: 15px;
      background: #fff;
      border-bottom: 1px solid #2ab27b;
    }
    #modulect-nav .btn-drop {
      border: none;
      outline: none;
      color: #2ab27b;
      background: transparent;
      text-shadow: none;
      box-shadow: none;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none;
      font-size: 16px;
      margin-left: 3px;
    }
    #modulect-nav .btn-drop:hover,
    #modulect-nav .btn-drop:focus {
      color: #14563b;
      box-shadow: none;
      border: none;
      text-decoration: underline;
      background: transparent;
    }
    #modulect-nav .btn-drop:active {
      background: transparent;
      border: 0px;
    }
    .navbar-brand > img {
      margin-left: 10px;
    }
    .result-card-side {
      border-left: 0px;
      border-top: 1px dotted #dfe2e1;
      border-bottom: 1px dotted #dfe2e1;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 20px;
    }
    .nomobile {
      display: none;
    }
  }

  .mini-submenu {
    display: none;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    padding: 9px;
    /*position: relative;*/
    width: 42px;

  }

  .mini-submenu:hover {
    cursor: pointer;
  }

  .mini-submenu .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    margin-top: 3px;
  }

  .mini-submenu .icon-bar {
    background-color: #000;
  }

  #slide-submenu {
    background: rgba(0, 0, 0, 0.45);
    display: inline-block;
    padding: 0 8px;
    border-radius: 4px;
    cursor: pointer;
  }

}

.modulect-container {
  background: #f9f9f9;
  padding-top: 90px;
}

footer {
  height: 60px;
  border-top: 1px solid #dfe2e1;
}

.footer-bottom {
  background: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  border-top: 1px solid #D3D3D3
}

#footer-logo {
  width: 150px;
  height: auto;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#rec-husky-footer {
  color: #2AB27B;
  font-family: "Varela Round";
  /*font-size: 20px;*/

  float: right;
  margin-top: 5px
}

@media only screen and (max-width: 560px) {
  #footer-logo {
    width: 120px;
  }
  .footer-bottom {
    font-size: 14px;
  }
}

body {
  overflow: hidden;
}

.modulect-container #page {
  #page {
    min-height: 800px;
    background: #f9f9f9;
    padding-bottom: 20px;
  }

  .fixed-nav {
    position: fixed;

  }

  @media only screen and (max-width: 768px) {

    .fixed-nav {
      position: relative;
    }
  }

  .empty-space {

  }

  .sidenav {
    nav {
      background: white;

    }

    nav {
      a:hover {
        color: #2ab27b;
        border: 1px solid #2ab27b;
      }
      @media only screen and (max-width: 768px) {

        a:hover {
          border: none;
        }
      }

      li {
        list-style-type: none;
      }
    }

    @media (min-width: 768px) {
      .navbar-collapse {
        height: auto;
        border-top: 0;
        box-shadow: none;
        max-height: none;
        padding-left: 0;
        padding-right: 0;
      }
      .navbar-collapse.collapse {
        display: block !important;
        width: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
      }
      .navbar-collapse.in {
        overflow-x: visible;
      }

      .navbar {
        max-width: 300px;
        margin-right: 0;
        margin-left: 0;
      }

      .navbar-nav,
      .navbar-nav > li,
      .navbar-left,
      .navbar-right,
      .navbar-header {
        float: none !important;
      }

      .navbar-right .dropdown-menu {
        left: 0;
        right: auto;
      }
      .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-right: 0;
      }
    }

    .alert-success{
      margin: 0px;
    }

  }


  .green-button {
    .btn-drop {
      color: #fff;
      background: #2ab27b;
      text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
      box-shadow: 0px 3px 0px 0px #228e62;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      text-transform: none;
    }
    .btn-drop:hover,
    .btn-drop:focus {
      background: rgba(42, 178, 123, 0.7);
      color: #fff;
    }
    .btn-drop:active {
      background: #14563b;
      box-shadow: 0px 3px 0px 0px #228e62;
    }




    .flash-alert {
      border: 1px solid #e8e8e8;
      background: #fff;
      color: #555459;
      margin-bottom: 15px;
      border-left-width: 5px;
      border-radius: .25rem;
      font-family: "Open Sans";
    }
    .flash-alert-error {
      border-left-color: #cb5234;
    }
    .flash-alert-error i {
      color: #cb5234;
      margin-right: 8px;
    }
    .flash-alert-success {
      border-left-color: #2ab27b;
    }
    .flash-alert-success i {
      color: #2ab27b;
      margin-right: 8px;
    }

    .flash-alert{
      padding: 15px;
      margin-top: 20px;
    }


  }
}


#model-title{
  padding: 10px 0px 10px 0px;
  margin-top: 10px;
}

#modify-title{
  padding: 10px 0px 0px 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.new-form{
  .form-control{
    font-size: 18px;
    background: transparent;
  }

  .text-field,.select{
    padding: 25px 15px;
  }


  textarea:focus,
  input:focus,
  select:focus,
  .uneditable-input:focus {
    border-color: rgba(42, 178, 123, 0.8) !important;
    box-shadow: 0 0.4px 0.4px rgba(42, 178, 123, 0.075) inset, 0 0 6px rgba(42, 178, 123, 0.6) !important;
    outline: 0 none !important;
  }
  .form-group {
    margin-bottom: 20px;
  }

}
