 <script type="text/javascript">
      $(function () {
          var hashTab = window.location.hash;
          if (hashTab != '') {
              $('.nav-tabs a[href="' + hashTab + '"]').tab('show');
              $(hashTab).addClass('active');
          }
      });
      
   </script>
<ul id="analytics-tabs" class="nav nav-tabs" style="margin-top:-10px;">
      <li class="active"><a data-toggle="tab" href="#overview">Overview</a></li>
      <li><a data-toggle="tab" href="#quick-search">Quick Search</a></li>
      <li><a data-toggle="tab" href="#pathway-search">Pathway Search</a></li>
      <li><a data-toggle="tab" href="#career-search">Career Search</a></li>
      <li><a data-toggle="tab" href="#modules">Modules</a></li>
      <li><a data-toggle="tab" href="#tags">Tags</a></li>
      <li><a data-toggle="tab" href="#test">test</a></li>
   </ul>