<% if input_hash.size != 0 %>
  <ol class="trending-list">
  	<% input_hash.each do |input| %>
  		<li><%= input.first.name %></li>
  	<% end %>
  </ol>
<% else %>
  <h4>No data available right now for <%= chart_name %></h4>
<% end %>