<% if input_hash.size != 0 %>
  <ol class="trending-list">
  	<% input_hash.each do |input| %>
      <% if chart_name != "Device Usage" && chart_name != "Users Logged In" %>
  		  <li><%= input.first.name %></li>
      <% else %>
        <li><%= input.first %></li>
      <% end %>
  	<% end %>
  </ol>
<% else %>
  <h4>No data available right now for <%= chart_name %></h4>
<% end %>