<%#
  Analytics which displays Modulect analytics based on data which is collected through user activity. 
  The different tabs separate out the various data categories available to the user.
  Different partials are used to render different areas of the page. See each partial for details.
  Department admins and super admins have different views (slightly) in that a department admin only sees data relevant to them
%>
<% provide(:title, 'Analytics') %>
<style>
   #analytics-page .header-item{border-right:1px solid #dfe2e1;}
   #analytics-page .header-item.last{border-right:0px;}
   #analytics-page .tab-pane{padding-left:20px;padding-right: 20px;}
   #analytics-page .small-header{font-weight:300;margin-bottom:5px;}
   #analytics-page .main-figure{font-size:42px;margin-bottom:5px;}
   #analytics-page .percentage-change{}
   #analytics-page .green{color: #2ab27b;}
   #analytics-page .red{color:#c77067;}
   #analytics-page .header-card{padding-left: 0px;padding-right: 0px;padding-bottom: 0px;}
   #analytics-page .header-item .small-header a{cursor: pointer;color: #555459;border-bottom:1px dotted #ccc;padding-bottom:5px;font-family: "Open Sans"}
   #analytics-page .overview-card{min-height: 320px;}
   #analytics-page .subox-card{padding-left: 20px;padding-right: 20px;}
   #analytics-page .subox-card .small-header {margin-bottom: 20px;}
   #analytics-page .subox-card .small-header a{cursor: pointer;color: #555459;border-bottom:1px dotted #ccc;padding-bottom:5px;}
   #analytics-page .expand-link a{color:#337ab7;font-family: "Open Sans";font-size: 12px;}
   #analytics-page .trending-list{margin-left:15px;}
   #analytics-page .trending-list li{ list-style: decimal;margin-bottom: 5px;font-size:16px;font-family: "Open Sans"}
   .side-right{float:right;width:130px;}
   .side-right .dropdown-toggle,
   .side-right .dropdown-toggle:hover,
   .side-right .dropdown-toggle:focus,
   .side-right .dropdown-toggle:active {
   background: whitesmoke;
   color: #333;
   box-shadow: 0px 3px 0px 0px #dfe2e1;
   outline: none;
   width: 130px;
   font-size:13px;
   padding-bottom: 0px;
   }
   #pagination-bottom .bootstrap-select{width:100px}
   @media(max-width:991px) {
   #analytics-page .header-item{border-right: 0px;border-bottom:1px solid #dfe2e1;padding-bottom:10px;text-align: center;}
   #analytics-page .header-item.last{border-bottom:0px;}
   #analytics-tabs li{display: block;float:none;}
   }
</style>

<%= render partial: "admin/analytics/header" %>

<div id="analytics-page">

<%= render partial: "admin/analytics/tabs" %>

<%
# FERAS, IM USING A HELPER TO STORE A HASH OF THE DATA AND THEN PASSING IT INTO PARTIALS
# PREVENTS US FROM HAVING TO RECALL QUERIES
# ALSO LEFT A COMMENT IN THE CONTROLLER 
# WE SHOULDN'T HAVE **ANY** DIRECT QUERIES IN THE VIEW ASIDE FROM THE BIG GRAPHS everything should be taken from the all_data hash
# YOU'LL NEED TO TAKE A LOOK AT THE TOP STRIP ON EACH TAB AND THEN SUBGRAPHS
# NOTE THAT SOME THINGS I HAVEN'T GOT ROUND TO ADDING TO THE HASH
# Also I noticed a small bug: when there is long name for a module, the graphs mess up. Try a long module and see the anayltics it generates
# Also some of the headers are a bit messed up too
# THANKS, AQIB
all_data = get_all_data(@all_uni_modules, @all_users, @all_tags, @department, @time_period)

%>
   <div class="tab-content" style="margin-top:30px;">
      <div id="overview" class="tab-pane fade in active">
         <%= render partial: "admin/analytics/overview", :locals => {all_data: all_data} %>
      </div>
      <div id="quick-search" class="tab-pane fade">      
         <%= render partial: "admin/analytics/quick_search", :locals => {all_data: all_data}  %>
      </div>
      <div id="pathway-search" class="tab-pane fade">   
         <%#= render partial: "admin/analytics/pathway_search", :locals => {all_data: all_data}  %>
      </div>
      <div id="career-search" class="tab-pane fade">
         <%#= render partial: "admin/analytics/career_search", :locals => {all_data: all_data}  %>
      </div>
      <div id="modules" class="tab-pane fade">
         <%#= render partial: "admin/analytics/modules", :locals => {all_data: all_data}  %>
      </div>
      <div id="tags" class="tab-pane fade">
         <%#= render partial: "admin/analytics/tags", :locals => {all_data: all_data}  %>
      </div>
   </div>
</div>
</div>