<% provide(:title, 'Analytics') %>
<style>
   #analytics-page .header-item{border-right:1px solid #dfe2e1;}
   #analytics-page .header-item.last{border-right:0px;}
   #analytics-page .tab-pane{padding-left:15px;padding-right: 15px;}
   #analytics-page .small-header{font-weight:300;margin-bottom:5px;}
   #analytics-page .main-figure{font-size:42px;margin-bottom:5px;}
   #analytics-page .percentage-change{}
   #analytics-page .green{color: #2ab27b;}
   #analytics-page .red{color:#c77067;}
   #analytics-page .header-card{padding-left: 0px;padding-right: 0px;padding-bottom: 0px;}
   #analytics-page .header-item .small-header a{cursor: pointer;color: #555459;border-bottom:1px dotted #ccc;padding-bottom:5px;}

   #analytics-page .subox-card{padding-left: 15px;padding-right: 15px;}

   @media(max-width:991px) {
   #analytics-page .header-item{border-right: 0px;border-bottom:1px solid #dfe2e1;padding-bottom:10px;text-align: center;}
   #analytics-page .header-item.last{border-bottom:0px;}
   #analytics-tabs li{display: block;float:none;}
   }
</style>
<header class="header">
   <h1 class="page-title"><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;&nbsp;Analytics</h1>
   <div class="header__actions">
      Department dropdown | Time Dropdown here  | 
      <%= link_to "<i class='fa fa-angle-left' aria-hidden='true'></i>&nbsp;&nbsp;Back".html_safe,
         :back, class: "button tool-box", style: "padding-top: 11px;padding-bottom: 11px;" %>
   </div>
</header>
<div id="analytics-page">
   <script type="text/javascript">
      $(function () {
          var hashTab = window.location.hash;
          if (hashTab != '') {
              $('.nav-tabs a[href="' + hashTab + '"]').tab('show');
              $(hashTab).addClass('active');
          }
      });
      
   </script>
   <ul id="analytics-tabs" class="nav nav-tabs" style="margin-top:-10px;">
      <li class="active"><a data-toggle="tab" href="#overview">Overview</a></li>
      <li><a data-toggle="tab" href="#quick-search">Quick Search</a></li>
      <li><a data-toggle="tab" href="#pathway-search">Pathway Search</a></li>
      <li><a data-toggle="tab" href="#career-search">Career Search</a></li>
   </ul>
   <div class="tab-content" style="margin-top:30px;">
      <div id="overview" class="tab-pane fade in active">
         <div class="row" >
            <div class="col-md-12  login-card header-card" style="">
               <div class="col-md-3 header-item">
                  <div class="small-header">
                     <a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="The number of visitors in the time period"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;Total Users (this month)</a>
                  </div>
                  <div class="main-figure">3470</div>
                  <div class="percentage-change green"><i class="fa fa-caret-up" aria-hidden="true"></i> 4% from last month</div>
               </div>
               <div class="col-md-3 header-item">
                  <div class="small-header">
                     <a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="The number of quick searches made in the time period"><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;&nbsp;Quick Searches</a>
                  </div>
                  <div class="main-figure">10255</div>
                  <div class="percentage-change red"><i class="fa fa-caret-down" aria-hidden="true"></i> 7% from last month</div>
               </div>
               <div class="col-md-3 header-item">
                  <div class="small-header">
                     <a class="help-tooltip" data-toggle="tooltip"  data-placement="right" title="The number of pathway searches made in the time period"><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;&nbsp;Pathway Searches</a>
                  </div>
                  <div class="main-figure">218</div>
                  <div class="percentage-change green"><i class="fa fa-caret-up" aria-hidden="true"></i> 1% from last month</div>
               </div>
               <div class="col-md-3 header-item last">
                  <div class="small-header">
                     <a class="help-tooltip" data-toggle="tooltip"  data-placement="left" title="The number of career searches made in the time period"><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;&nbsp;Career Searches</a>
                  </div>
                  <div class="main-figure">4894</div>
                  <div class="percentage-change red"><i class="fa fa-caret-down" aria-hidden="true"></i> 12% from last month</div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12 login-card">
       <canvas id="myChart" width="400" height="120"></canvas>
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["January", "February", "March", "April", "May", "June"],
        datasets: [{
            label: '# of quick searches',
            data: [1550, 1569, 1800, 2000, 2085, 3900],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>


            </div>
            <div class="row">
               <div class="col-md-4" >
                  <div class="col-md-12 login-card subox-card">
                     <h4>Trending tags</h4>
                     department admin vs system admin








                  </div>
               </div>
               <div class="col-md-4">
                  <div class="col-md-12 login-card subox-card">
                     <h4>Trending modules</h4>
                     department admin vs system admin
                  </div>
               </div>

               <div class="col-md-4">
                  <div class="col-md-12 login-card subox-card">
                     <h4>Most saved modules</h4>

                     department admin vs system admin
                  </div>
               </div>
            </div>

            <div class="row">
               <div class="col-md-4" >
                  <div class="col-md-12 login-card subox-card">
                     <h4>Device usage</h4>
                     department admin vs system admin
                  </div>
               </div>

               <div class="col-md-4">
                  <div class="col-md-12 login-card subox-card">
                     <h4>Top x reviewed modules</h4>
                     department admin vs system admin
                  </div>
               </div>

               <div class="col-md-4">
                  <div class="col-md-12 login-card subox-card">
                     <h4>Top x highly rated modules</h4>   
                     department admin vs system admin
                  </div>
               </div>
            </div>

 <div class="row">
               <div class="col-md-4" >
                  <div class="col-md-12 login-card subox-card">
                     <h4>Most active student users</h4>
                     by reviews, searches, saves (using a dropdown to filter)
                     department admin vs system admin
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="col-md-12 login-card subox-card">
                     <h4>Logged in vs logged out visitors</h4>
                     a pie chart, department admin vs system admin
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="col-md-12 login-card subox-card">
                     <h4>Most active courses</h4>
                     department admin vs system admin
                  </div>
               </div>
            </div>


 <div class="row">
               <div class="col-md-4" >
                  <div class="col-md-12 login-card subox-card">
                     <h4>Most active departments</h4>
                     system admin, can see who uses admin the most
                  </div>
               </div>


               </div>








         </div>
      </div>
      <div id="quick-search" class="tab-pane fade">
         Quick search
      </div>
      <div id="pathway-search" class="tab-pane fade">
         Pathway search
      </div>
      <div id="career-search" class="tab-pane fade">
         Career search
      </div>
   </div>
</div>
</div>