<% provide(:title, 'Analytics') %>
<style>
@import url('https://fonts.googleapis.com/css?family=Quicksand');
.header-item{border-right:1px solid #dfe2e1;}
.header-item.last{border-right:0px;}
.tab-pane{padding-left:15px;padding-right: 15px;}
@media(max-width:991px) {
   .header-item{border-right: 0px;border-bottom:1px solid #dfe2e1;padding-bottom:10px;}
   .header-item.last{border-right:0px;}
   #analytics-tabs li{display: block;float:none;}
}
</style>
<header class="header">
   <h1 class="page-title"><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;&nbsp;Analytics</h1>
   <%= link_to "<i class='fa fa-angle-left' aria-hidden='true'></i>&nbsp;&nbsp;Back".html_safe,
            :back, class: "button tool-box", style: "padding-top: 11px;padding-bottom: 11px;" %>
</header>
<div id="analytics-page">
   <script type="text/javascript">
      $(function () {
          var hashTab = window.location.hash;
          if (hashTab != '') {
              $('.nav-tabs a[href="' + hashTab + '"]').tab('show');
              $(hashTab).addClass('active');
          }
      });
      
   </script>
   <ul id="analytics-tabs" class="nav nav-tabs" style="margin-top:-10px;">
      <li class="active"><a data-toggle="tab" href="#overview">Overview</a></li>
      <li><a data-toggle="tab" href="#quick-search">Quick Search</a></li>
      <li><a data-toggle="tab" href="#pathway-search">Pathway Search</a></li>
      <li><a data-toggle="tab" href="#career-search">Career Search</a></li>
   </ul>
   <div class="tab-content" style="margin-top:30px;">
      <div id="overview" class="tab-pane fade in active">
         <div class="row" >
            <div class="col-md-12  login-card" style="padding-left: 0px;padding-right: 0px;">
               <div class="col-md-2 header-item">Num visitors </div>
               <div class="col-md-2 header-item">Num quick searches</div>
               <div class="col-md-2 header-item">Num pathway searches</div>
               <div class="col-md-2 header-item">Num career searches</div>
               <div class="col-md-2 header-item">Item</div>
               <div class="col-md-2 header-item last">Item</div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12 login-card">
               GRAPH AREA
            </div>
            <div class="row">
               <div class="col-md-4" >
                  <div class="col-md-12 login-card">
                     Subgraph
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="col-md-12 login-card">
                     Subgraph
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="col-md-12 login-card">
                     Subgraph
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4" >
                  <div class="col-md-12 login-card">
                     Subgraph
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="col-md-12 login-card">
                     Subgraph
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="col-md-12 login-card">
                     Subgraph
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="quick-search" class="tab-pane fade">
         Quick search
      </div>
      <div id="pathway-search" class="tab-pane fade">
         Pathway search
      </div>
      <div id="career-search" class="tab-pane fade">
         Career search
      </div>
   </div>
</div>