<% if flash.any? %>
<div class="update-flash" id="flash-container">
    <% flash.each do |key, value| -%>
      <div class="flash-alert flash-alert-<%= key %>">
            <i class="fa fa-info" aria-hidden="true"></i> <%= value %></div>
    <% end %>
  </div>
<% end %>


<script>
    jQuery(function($) {
        $('#flash-container').slideDown(500, function() {
            var self = this;
            setTimeout(function() {
                $(self).fadeOut(500);
            }, 5000);
        });
    });
</script>