<style>
.warning-index{display:inline-block;}
.warning-index a{color: #aa0000;text-decoration: none}
.tooltip {text-align: left;font-family: "Open Sans";}
.tooltip-inner {padding: 8px 12px;text-align: left;}
</style>
<div class="warning-index">
<a class="help-tooltip" href="<%= destination %>" data-toggle="tooltip"  data-placement="right" title="<%= message %>"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a>
</div>