<% content_for(:title) { "Edit #{@user.first_name} #{@user.last_name}" } %>


<header class="header">
  <h1 class="header__heading"><%= content_for(:title) %></h1>
  <div class="header__actions">
    <%= link_to(
            "<i class='fa fa-user' aria-hidden='true'></i>&nbsp;&nbsp;Show User".html_safe,
         user_path(@user),
            class: "button",
        ) %>
  </div>
</header>

<%= render "form", page: page %>