<% content_for(:title) { "Edit #{@user.first_name} #{@user.last_name}" } %>


<header class="header">
  <h1 class="header__heading"><%= content_for(:title) %></h1>
  <div class="header__actions">
    <%= render(:partial => 'admin/application/edit_toolbox_buttons',
               :locals => {:object => User.find(params[:id]),
                           :name_of_file=>User.find(params[:id]).first_name+"_"+User.find(params[:id]).last_name,
                           :blacklist_attributes=>
                               "Password Digest,Activation Digest,Reset Digest,Reset Sent At,Remember Digest",
                           :entity_attributes=>"Department,Faculty,Course",
                           has_many_attributes:[]})%>

  </div>
</header>
<%= form_for(@user, :url => { :action => "update",:method => "put" }, html: {class: "form"})do |f| %>
  <%= render "form", f: f,parent: "edit"%>
<% end %>

