<% content_for(:title) { "Edit #{@user.first_name} #{@user.last_name}" } %>


<header class="header">
  <h1 class="header__heading"><%= content_for(:title) %></h1>
  <div class="header__actions">
    <%= link_to(
            "<i class='fa fa-times' aria-hidden='true'></i>&nbsp;&nbsp;Quit".html_safe,
        admin_users_path,
            class: "button",
        ) %>
  </div>
</header>
<%= form_for(@user, :url => { :action => "update",:method => "put" }, html: {class: "form",:onsubmit => "removeVoidFields()" })do |f| %>
  <%= render "form", f: f,parent: "edit"%>
<% end %>