<div class="nested-fields">

    <!--renders attributes-->
  <%= render "admin/application/course-partials/group_form_fields",:f => f %>

  <div class="remove-field" style="margin: 0px;">
    <%= link_to_remove_association "Remove Module Group", f %>
  </div>
     <div class="page-header additional-info" style="margin: 0px;margin-bottom:20px;"></div>

</div>
