<!-- A template for editing a notice
Contains fields which corresponds to a particular course's attributes
The fields are produced with in form render
-->
<% content_for(:title) { "Edit Notice" } %>


<header class="header">
  <h1 class="header__heading"><%= content_for(:title) %></h1>
  <div class="header__actions">
    <!--back button-->
    <%= link_to "<i class='fa fa-angle-left' aria-hidden='true'></i>&nbsp;&nbsp;Back".html_safe,
                :back, class: "button tool-box", style: "padding-top: 11px;padding-bottom: 11px;" %>
  </div>
</header>
<!--form for editing notice-->
<%= form_for(@notice, :url => { :action => "update",:method => "put" }, html: {class: "form"})do |f| %>
    <%= render "form", f: f,:action =>"Update"%>
<% end %>