<% content_for(:title) { "New Notice"} %>


<header class="header" style="padding-bottom: 40px">
  <h1 class="header__heading"><%= content_for(:title) %></h1>
  <div class="header__actions">
    <!--quit button-->
    <%= link_to "<i class='fa fa-times' aria-hidden='true'></i>&nbsp;&nbsp;Quit".html_safe, admin_notices_path, class: "button" %>
  </div>
</header>

<%= form_for( @notice, :url => { :action => "create",:method => "post" }, html: {class: "form"}) do |f| %>
    <%= render "form", f: f,:action =>"Create"%>
<% end %>