<% content_for(:title) { "Edit #{@department.name}" } %>


<header class="header">
  <h1 class="header__heading"><%= content_for(:title) %></h1>
  <div class="header__actions">
    <%= link_to(
            "<i class='fa fa-user' aria-hidden='true'></i>&nbsp;&nbsp;Show User".html_safe,
            admin_department_path(@user),
            class: "button",
        ) %>
  </div>
</header>
<%= form_for(@user, :url => { :action => "update",:method => "put" }, html: {class: "form"})do |f| %>
    <%= render "form", f: f,parent: "edit"%>
<% end %>