<% provide :title, "Edit #{Course.find(params[:id]).name}" %>
<% provide :submit_button_text, 'Update' %>


<header class="header">
  <h1 class="header__heading"><%= content_for(:title) %></h1>
  <div class="header__actions">
    <%= render(:partial => 'admin/application/edit_toolbox_buttons',
               :locals => {:object => Course.find(params[:id]),
                           :name_of_file=>Course.find(params[:id]).name.to_s,
                           :blacklist_attributes=>"",:entity_attributes=>"",
                           :has_many_attributes=>["uni_modules"]})%>
  </div>
</header>

<div class="row field-unit year_structures" >
   <div class="col-xs-12">
      <div class="field-unit__label">
         <label style="font-size: 19px"> Year structure belonging to this course  <a class="help-tooltip" style="font-size:14px" data-toggle="tooltip"  data-placement="right"
           title="Each year structure contains groups of modules i.e first term is a group. The student will pick modules from the set of groups that belong to each year structure for this course. ">[<i class="fa fa-question" aria-hidden="true"></i>]</a></label>
      </div>
      <div class="field-unit__field">
        <div id="landing" style="margin-left:10px;">
          <div class="row" style="margin-top:20px;">

          </div>
        </div>

      </div>
   </div>
</div>

<%= render 'form',:action =>"Update" %>
