<% content_for(:title) { "New Course"} %>


<header class="header">
<h1 class="header__heading" style="margin-bottom: 40px"><%= content_for(:title) %></h1>
<div class="header__actions">
  <%= link_to "<i class='fa fa-times' aria-hidden='true'></i>&nbsp;&nbsp;Quit".html_safe, :back, class: "button" %>
</div>

</header>

<%= render 'form', :action =>"New" %>
