<footer>
    <div class="footer-bottom">
      <div class="container">
      <%= image_tag("modulect-logo.png", :alt => "rss feed", :class => "pull-left", :id => "footer-logo") %>
        <div class="pull-right">
          <h4 id="rec-husky-footer">By Recursive Husky</h4>
        </div>
      </div>
    </div>
</footer>
<script>
  $(function() {  

      jQuery.scrollSpeed(150, 800);

  });
   $(document).ready(function(){
       $('[data-toggle="tooltip"]').tooltip();
   });
</script>
